/* shered Style */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: Work Sans;
    color: #131313;

}

.btn-common {

    padding: 15px 15px;
    max-width: fit-content;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: #ffffff;

}

p {
    font-size: 1rem;
    color: #727272;
}

a {
    font-size: 1.12rem;

}

h2 {

    font-size: 4rem;
    font-weight: 700;
    margin: 0;

}

h3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 10px 0;
}

h4 {
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px;
    margin: 10px 0;
}

/* code for header  */
header {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
    background: rgba(255, 144, 14, 0.10);
}

header .top-header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header ul>li>a {
    text-decoration: none;
}

header ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none
}

.top-header h3 {
    margin: 0;
}

/* code for banner sub-section */
header .banner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
}

.banner h2 {
    max-width: 532px;
    text-align: center;
}

.banner p {
    text-align: center;
}

/* code for banner image */
header .banner-image {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

img {
    width: 100%;
}

/* code for midium device resopsive header section */
@media screen and (max-width:992px) and (min-width:576px) {
    header .top-header {

        flex-direction: column;
    }

    .top-header h3 {
        align-self: center;
    }

    header ul {
        display: flex;

        gap: 30px;
        list-style: none;
        align-self: center;
        padding-left: 0;
    }

}

/* code for small device resopsive header section */
@media screen and (max-width:576px) {
    header .top-header {

        flex-direction: column;
    }

    .top-header h3 {
        align-self: center;
    }

    header ul {
        display: flex;

        gap: 30px;
        list-style: none;
        align-self: center;
        padding-left: 0;
    }

    .banner h2 {
        font-size: 3.3rem;
    }

    .top-header h3 {
        align-self: center;
        font-size: 2.8rem;
        width: 301px;
        margin: 0 auto;
    }

    header ul {
        display: flex;
        gap: 5px;
        list-style: none;
        align-self: center;
        padding-left: 0;
        width: 100%;
    }

}

/* code for features section  */
section.features {
    width: 80%;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.features .feature-image {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.features .feature-content {
    width: 45%;
    align-self: center;

}

/* for mediuam devices  resposnive freture section*/
@media screen and (max-width:992px) and (min-width:576px) {



    section.features {
        width: 80%;
        margin: 10px auto 0px auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }

    .features .feature-image {
        width: 80%;

    }

    .features .feature-content {
        width: 80%;
        margin-bottom: 40px;

    }

}

/* for small devices feature section  resposnive*/
@media screen and (max-width:576px) {

    section.features {
        width: 80%;
        margin: 10px auto 0px auto;
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .features .feature-image {
        width: 100%;
        display: flex;
        gap: 10px;
        flex-direction: column;

    }

    .features .feature-content {
        width: 80%;
        margin-bottom: 20px;

    }

    .features h3 {
        font-size: 2.7rem;
    }


}

/* feature section 2  */
section.feature-2 {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;

}

.feature-2-content {
    width: 50%;
}

.feature-2-content p {
    margin: 10px 0 20px 0;

}

.feature-2-image {
    width: 50%;
    margin-left: 100px;



}

.experience {
    background-color: #FF900E;

    padding: 2rem;
    border-radius: 8px;
    z-index: 1;
    position: relative;
    bottom: 100px;
    left: -45px;
    width: 250px;

}

.experience div {
    color: #FFF;

}

/* responsive for large screen feature-2  */
@media screen and (max-width:992px) and (min-width:576px) {

    .feature-2-image {
        width: 80%;
        margin-left: 0;
    }

    section.feature-2 {

        flex-direction: column;
    }

    .feature-2-content {
        width: 80%;
    }




}

/* responsive for mobile screen feature-2  */
@media screen and (max-width:576px) {
    .feature-2-image {
        width: 100%;
        margin-left: 0;

    }

    section.feature-2 {

        flex-direction: column;
    }

    .feature-2-content {
        width: 100%;
    }


    .experience {
        bottom: 100px;
        left: auto;
        margin: auto;
        position: relative;
        max-width: 240px;
    }


}

/* some facts section  */
.some-facts-container {
    width: 80%;
    margin: 0px auto;
}

.some-facts {
    max-width: 600px;
    margin: 50px 0 0 0;
}

.some-info {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 0 0;
    flex-wrap: wrap;
}

.some-info img {
    width: 45px;
    height: 45px;

}

.some-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}

.some-info>div * {
    margin: 0;
}

/* responsive some-facts section for medium devices  */
@media screen and (max-width:992px) and (min-width:576px) {
    .some-facts>h3 {
        margin-top: -110px;
    }

    .some-info {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
        justify-content: normal;
        width: fit-content;
        margin: 40px auto;
    }

}

/* responsive some-facts section for small devices  */
@media screen and (max-width:576px) {
    .some-facts>h3 {
        margin-top: -100px;
    }

    .some-info {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        justify-content: normal;
        width: fit-content;
        margin: 40px auto;
    }

}

/* our-sponser section  */
.our-sponser {
    width: 80%;
    margin: 30px auto;
}

.sponser-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.sponser-icon img {
    width: 150px;
    height: 50px;
}

.sponser-content {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.sponser-content>* {
    margin: 10px 0;
    max-width: 550px;
    text-align: center;
}

/* responsive sponser section for medium devices  */
@media screen and (max-width:992px) and (min-width:576px) {
    .sponser-icon {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 30px;



    }
}

@media screen and (max-width:576px) {
    .sponser-icon {
        display: grid;
        grid-template-columns: auto;
        gap: 30px;
        justify-content: space-around;



    }
}

/* responsive sponser section for mobile devices  */

/* footer section  */
footer {
    
    width: 80%;
    
    margin: 0 auto 30px auto;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    background: #FFF4E7;

}
@media screen and (max-width:576px) {
    footer{
        padding: 5px;
    }
}